<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xml:lang>

<head th:replace="/Template/plantilla::head"></head>

<body>
  <header th:replace="/Template/plantilla::header"></header>

  <div class="container mt-3">
    <div class="card bg-light">
      <div class="card-header bg-dark text-white " th:text="${h1}"></div>
      <div class="card-body">

        <form th:action="@{/autor/save}" th:object="${autor}" method="post" enctype="multipart/form-data">
          <div class="form-group row"><input type="hidden" th:field="*{id}">
            <div class="form-group row mt-3 py-3 mb-3"><label for="nombre" class="col-sm-3 col-form-label">Nombre del Autor:</label>
              <div class="col-sm-6"><input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Nombre" ></div>
            </div>
          </form>
            <div class="card-footer text-center py-3">
              <input type="submit" class="btn btn-primary" value="Guardar" />
              <input class="btn btn-success" onclick="goBack()" value="Regresar" /> 
            </div>  
      </div>
    </div>
  </div>

  <footer th:replace="/Template/plantilla::footer"></footer>

</body>
</html>