<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xml:lang>
<head th:replace="/Template/plantilla::head"></head>

<body>
  <header th:replace="/Template/plantilla::header"></header>

  <main class="container mt-3">
    <div class="card bg-light">
      <h3 class="card-header bg-dark text-white text-center">Formulario de contacto</h3>
      <div class="card-body">
        <form class="row mt-3 row-cols-2 fw-bold">
          <div class="mb-3"><label for="nombreUser" class="form-label ">Nombre</label>
            <input type="text" class="form-control" id="nombreUser" placeholder="Ingresa tu nombre" required>
          </div>
          <div class="mb-3"><label for="email" class="form-label">Correo de contacto</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
          </div>
          <div class="mb-3 col-12"><label for="exampleFormControlTextarea1" class="form-label">Asunto</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
          </div>
        </form>
      </div>
        <div class="d-grid gap-2 col-3 mx-auto pb-3 "><button type="submit" class="btn btn-primary">Enviar</button></div>
    </div>
  </main>

  <footer th:replace="/Template/plantilla::footer"></footer>

</body>
</html>