<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xml:lang>

<head th:replace="/Template/plantilla::head"></head>

<body>
  <header th:replace="/Template/plantilla::header"></header>

  <div class="container mt-3">
    <div class="card bg-light oop">
      <div class="card-header bg-dark text-white text-center text-uppercase" th:text="${h1}"></div>
      <div class="card-body ii ">
        <div class="form-group row  ">
          <img class="img-thumbnail rounded float-left" th:src="@{'/images/libros/' + ${libro.imagen}}"
            th:alt="${libro.imagen}" style="max-width: 25%;" alt="">
          <div class="col-sm-6 ">
            <ul class="list-group mb-3 ">
              <li class="list-group-item" th:text="'Titulo del Libro : ' + ${libro.titulo}"></li>
              <li class="list-group-item" th:text="'ISBN del Libro : ' + ${libro.isbn}"></li>
              <li class="list-group-item" th:text="'Año de publicación : ' + ${libro.anio}"></li>
              <li class="list-group-item" th:text="'Autor : ' + ${libro.autor.nombre}"></li>
              <li class="list-group-item" th:text="'Editorial : ' + ${libro.editorial.nombre}"></li>
              <li class="list-group-item" th:text="'Cantidad total : ' + ${libro.ejemplares}"></li>
              <li class="list-group-item"th:text="'Cantidad Disponible : ' + ${(libro.ejemplares-libro.ejemplaresPrestados)}"></li>
            </ul>
            <button class="btn btn-success" onclick="goBack()">Regresar</button>
            <button class="btn btn-success">Solicitar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="/Template/plantilla::footer"></footer>

</body>
</html>