
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head th:replace="/Template/plantilla::head"></head>
<body>
  <header th:replace="/Template/plantilla::header"></header>
  
  <div class="container mt-3" sec:authorize="hasRole('ROLE_ADMIN')" >
    <div class="card bg-light">
      <div class="card-header bg-dark text-white" th:text="${h1}"></div>
      <div class="card-body " sec:authorize="hasRole('ROLE_ADMIN')">
        <form sec:authorize="hasRole('ROLE_ADMIN')"class="row g-3" th:action="@{/libro/save}" th:object="${libro}" method="POST" enctype="multipart/form-data">
          <input sec:authorize="hasRole('ROLE_ADMIN')"type="hidden" th:field="*{id}">
          <div sec:authorize="hasRole('ROLE_ADMIN')"class="form-group row mt-3"><label for="nombre" class="col-sm-3 col-form-label">Titulo del Libro:</label>
            <div class="col-sm-6"><input type="text" th:field="*{titulo}" class="form-control" id="nombre" placeholder="Nombre del libro"></div>
          </div>
          <div sec:authorize="hasRole('ROLE_ADMIN')"class="form-group row mt-3"><label for="nombre" class="col-sm-3 col-form-label">ISBN:</label>
            <div class="col-sm-6"><input type="text" th:field="*{isbn}" class="form-control" id="nombre" placeholder="código isbn"></div>
          </div>
          <div sec:authorize="hasRole('ROLE_ADMIN')"class="form-group row mt-3"><label for="nombre" class="col-sm-3 col-form-label">Año de publicación:</label>
            <div class="col-sm-6"><input type="text" th:field="*{anio}" class="form-control" id="nombre" placeholder="Publicación"></div>
          </div>
          <div sec:authorize="hasRole('ROLE_ADMIN')"class="form-group row mt-3"><label for="autor" class="col-sm-3">Autor:</label>
            <div class="col-sm-6">
              <select sec:authorize="hasRole('ROLE_ADMIN')"th:field="*{autor}" class="form-select form-control form-control-sm col-md-6" id="autor">
                <option  sec:authorize="hasRole('ROLE_ADMIN')"th:each="autor:${autores}"
                  th:value="${autor.id}"
                  th:text="${autor.nombre}"/> 
              </select>
            </div>
          </div>
         <div sec:authorize="hasRole('ROLE_ADMIN')"class="form-group row mt-3"><label for="editorial" class="col-sm-3">Editorial:</label>
            <div class="col-sm-6">
              <select th:field="*{editorial}" class="form-select form-control form-control-sm col-md-6" id="editorial">
                <option th:each="editorial:${editoriales}"
                  th:value="${editorial.id}"
                  th:text="${editorial.nombre}"/> 
              </select>
            </div>
          </div>
          <div sec:authorize="hasRole('ROLE_ADMIN')"class="form-group row mt-3"><label for="ejemplares" class="col-sm-3 col-form-label">Cantidad de Libros:</label>
            <div class="col-sm-6"><input type="number" th:field="*{ejemplares}" class="form-control" id="ejemplares" placeholder="Cantidad de ejemplares"></div>
          </div>
          <div sec:authorize="hasRole('ROLE_ADMIN')"class="form-group row mt-3"><label for="ejemplaresPrestados" class="col-sm-3 col-form-label">Cantidad de libros prestados:</label>
            <div class="col-sm-6"><input type="number" th:field="*{ejemplaresPrestados}" class="form-control" id="ejemplaresPrestados"placeholder="Cantidad de ejemplares prestados"></div>
          </div>
          <div sec:authorize="hasRole('ROLE_ADMIN')"class="form-group row mt-3"><label for="alta" class="col-sm-3 col-form-label">Libro disponible:</label>
            <div class="col-sm-6"><input type="text" th:field="*{alta}" class="form-control" id="alta"placeholder="Disponible =true // No Disponible=false"></div>
          </div>
          <div sec:authorize="hasRole('ROLE_ADMIN')"class="form-group row mt-3"><label for="imagen" class="col-sm-3 col-form-label">Imagen:</label>
            <div class="col-sm-6"><input type="file" name="file" class="form-control" id="imagen"></div>
          </div>
          <div sec:authorize="hasRole('ROLE_ADMIN')"class="card-footer text-center mt-3">
            <input sec:authorize="hasRole('ROLE_ADMIN')" type="submit" class="btn btn-primary" value="Guardar"/>
            <input sec:authorize="hasRole('ROLE_ADMIN')"class="btn btn-success" onclick="goBack()" value="Regresar" /> 
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer th:replace="/Template/plantilla::footer"></footer>

</body>
</html>